* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

body {
  background: linear-gradient(to bottom, #04243b 0%, #094b7a 100%);
  margin: 0 auto;
  min-height: 100vh;
  padding-top: 20px;
  max-width: 1024px;
}

a {
  color: #506ad4;
  font-weight: 700;
  font-style: italic;
  text-decoration: none;
  border-bottom: 1px solid #506ad4;

  &:focus {
    outline: 0;
  }
}

.learn {
  font-size: 12px;
  display: block;
  color: #f2cf1d;
  border-bottom: none;
  border: 1px solid #f2cf1d;
  width: 100px;
  text-align: center;
  margin-bottom: 15px;
}

.site-title {
  color: white;
  text-align: center;
  padding: 15px;
  font-size: 18px;
  line-height: 1.6;
  border-top: 1px solid #f2cf1d;
  border-bottom: 1px solid #f2cf1d;
  width: 90%;
  margin: 0 auto;

  span {
    color: #f2cf1d;
  }
}

.list-of-pages {
  padding: 0px 15px 15px 15px;
  color: white;
}

.website {
  margin: 20px 0;
  background-color: #00000032;
  padding: 20px;
}
.website-title {
  font-size: 16px;
  color: #f2cf1d;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
}

.website-description {
  padding: 15px 10px 10px 15px;
}
li {
  list-style-image: linear-gradient(
    to left bottom,
    rgb(0, 60, 128),
    rgb(144, 188, 238)
  );
  font-size: 14px;
}
